@charset "UTF-8";

<% if (includeNormalizeCss) { %>
  <% if (includeBootstrap) { %>
    <% } else { %>
@import 'vendors/normalize';
    <% } %>
  <% } %>
<% if (includeIncludeMedia) { %>@import 'vendors/include-media';<% } %>
<% if (includeAnimateCss) { %>@import 'vendors/animate';<% } %>
<% if (includeSusy) { %>@import 'vendors/susy/susy';<% } %>
<% if (includeJeet) { %>@import 'vendors/jeet/index';<% } %>
<% if (includeBootstrap) { %>@import 'vendors/bootstrap/bootstrap';<% } %>
<% if (includeFoundation) { %>@import 'vendors/foundation/foundation';<% } %>
<% if (includePureCss) { %>@import 'vendors/pure';<% } %>
<% if (includeSemanticUi) { %>@import 'vendors/semantic';<% } %>

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/base';

// @import 'layout/';
//
// @import 'components';
//
// @import 'pages/';
//
// @import 'themes/';
